include ../mixins/sub-category.pug

header.header
  .container
    .row.align-items-center
      .col-3
        .inner-logo
          a(href="/")
            img(src=setting.WebsiteLogoUser, alt=setting.WebsiteName)
      .col-9
        .inner-menu
          ul
            li
              a(href="/") Trang chủ
            +sub-category(allCategory)
            li(class="sub-menu") @
              ul 
                li
                  a(href="/notification") Thông báo
                li
                  a(href="/user/profile") Thông tin học viên
                li
                  a(href="/user/support") Hỗ trợ
                li
                  a(href="/auth/logout") Đăng xuất