.sider 
  .inner-menu 
    ul 
      li 
        a(href=`/my-courses`) Trang tổng quan
      li 
        a(href=`/my-courses/learning`) Đang học
      li 
        a(href=`/my-courses/learned`) Đã hoàn thành
      li 
        a(href=`/exam`) Thi thử